* {
  margin: 0;
}
body {
  font-family: "Vazirmatn", sans-serif;
}
.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
}
.navbar-container {
  display: flex;
  align-items: center;
  font-family: "Vazirmatn", sans-serif;
  padding: 0 50px;
  height: 100%;
  color: white;
}
.logo-container {
  flex: 1;
}
.logo {
  font-size: 30px;
  color: #4dbf00;
}
.menu-container {
  flex: 6;
}
.menu-list {
  display: flex;
  list-style: none;
}
.menu-list-item {
  margin-right: 30px;
}
.menu-list-item.active {
  font-weight: bold;
  font-style: italic;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
}
.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: fill;
}
.profile-text-container {
  margin: 0 20px;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 60px;
}
.left-menu-item {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}
.container {
  /* display: flex;
  flex-wrap: wrap; */
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  /* align-items: baseline;
   */
}
.movie-list-item {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  max-width: 300px;
  min-width: 300px;
  /* max-height: 300px; */
  margin: 20px;
  border: 1px solid #4dbf00;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  transition: all 0.5s ease-in-out;
}
.movie-list-item:hover {
  transform: scale(1.05);
}

.movie-list-container {
  margin-left: 50px;
  padding: 20px;
  /* height: 100%; */
}

.movie-list-item-img {
  align-self: center;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 5px;
}
.movie-list-item-title {
  align-self: center;
  font-size: 19px;
  color: tomato;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}
.movie-list-item-season {
  color: darksalmon;
  margin-bottom: 0.5rem;
}
.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  width: 100%;
  /* position: absolute;
  left: 0;
  bottom: 0; */
  margin-top: auto;
}
.movie-list-item-desc {
  /* overflow: hidden; */
  /* max-height: 50px; */
  /* display: inline-block; */
}
.search {
  /* max-width: 500px; */
  /* margin: 25px; */
  display: flex;
  background-color: dimgray;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  padding: 10px;
  margin: 5px auto 5px auto;
  border: 1px solid gainsboro;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.search input {
  width: 80%;
  border-radius: 2px;
  height: 2rem;
  font-size: 2rem;
}
.search button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  height: 2rem;
  font-size: 1rem;
}

.searchbox {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  justify-items: baseline;
  flex-wrap: wrap;
}
#selectsearch {
  height: 2rem;
  font-size: 1.2rem;
  display: block;
  width: 80%;
}
.selectsearchdiv {
  align-self: flex-start;
}
